<div class="host">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
            <mat-card-content>
            <form [formGroup]="formulario" (ngSubmit)="login()">
            <p>
                <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="usuario">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="contrasena">
                </mat-form-field>
            </p>
            <div class="button">
                <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="cont-users">
    <h2>Usuario Admin:</h2>
    <p>Usuario: Lucious48@hotmail.com</p>
    <p>Contraseña: bBoQKd5HRShdvWR</p>

    <h2>Usuario Estudiante:</h2>
    <p>Usuario: Melany29@gmail.com</p>
    <p>Contraseña: AlDlQ31ZLh0fHRO</p>
</div>