<div mat-dialog-content class="example-container">
  <form [formGroup]="formCurso">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input matInput  formControlName="nombre" placeholder="Ingrese un curso*" [(ngModel)]="local_data.nombre">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Profesor</mat-label>
        <input matInput  formControlName="profesor" placeholder="Ingrese el profesor*" [(ngModel)]="local_data.profesor">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Inicio del curso</mat-label>
        <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio" [(ngModel)]="local_data.fechaInicio">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Fin del curso</mat-label>
        <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin" [(ngModel)]="local_data.fechaFin">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Clases</mat-label>
        <input matInput  formControlName="clases" placeholder="Cantidad de clases*" [(ngModel)]="local_data.clases">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" mat-dialog-close (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary"  [disabled]="formCurso.invalid" (click)="doAction()">{{action}}</button>
</div>